<h1 class="legend margin-top">{{'statistics.title' | translate}}</h1>

<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <h1 class="legend margin-top">{{'statistics.legend-top' | translate}}</h1>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div style="min-width:600px;height: 450px" echarts [options]="echartOptions" class="sector-chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <h1 class="legend margin-top">{{'statistics.legend-top-patents' | translate}}</h1>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div style="min-width:600px;height: 450px" echarts [options]="echartOptions2" class="sector-chart">
                </div>

            </div>
        </div>
    </div>
</div>


<!--<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <h1 class="legend margin-top">{{'statistics.legend-top-location' | translate}}</h1>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div style="height: 300px" leaflet [leafletOptions]="options"></div>
            </div>
        </div>
    </div>-->