<div class="row">
    <div class="col-lg-12">
        <h1 class="legend">{{'links.title' | translate}}</h1>
    </div>
</div>
<h1 class="h3 mb-3 mt-40">{{'links.ontology' | translate}}</h1>
<div class="row">
    <div class="col-lg-6 col-xl-3  cursor">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2">
                    <a href="https://github.com/HerculesCRUE/ROH" target="_blank" rel="noopener noreferrer">ROH</a>
                </h5>
            </div>

        </div>
    </div>
</div>
<h1 class="h3 mb-3 mt-40">{{'links.repository' | translate}}</h1>
<div class="row">
    <div class="col-lg-6 col-xl-3 cursor">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2"><a href="https://github.com/HerculesCRUE" target="_blank"
                        rel="noopener noreferrer">HerculesCRUE</a></h5>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3 cursor">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2">
                    <a href="https://github.com/HerculesCRUE/ib-asio-docs-#readme" target="_blank"
                        rel="noopener noreferrer">ib-asio-docs</a>
                </h5>
            </div>
        </div>
    </div>
</div>
<h1 class="h3 mb-3 mt-40">{{'links.userManual' | translate}}</h1>
<div class="row">
    <div class="col-lg-6 col-xl-3 cursor">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2">
                    <a href="https://github.com/HerculesCRUE/ib-asio-docs-/blob/master/00-An%C3%A1lisis/Manual%20de%20usuario/Manual%20de%20usuario.md"
                        target="_blank" rel="noopener noreferrer">{{'links.userManual' | translate}}</a>
                </h5>
            </div>
        </div>
    </div>
</div>
<h1 class="h3 mb-3 mt-40">{{'links.renderization' | translate}}</h1>
<div class="row">
    <div class="col-lg-6 col-xl-3  cursor">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2">
                    <a [routerLink]="['/main/graph']">{{'menu.graph' | translate }}</a>
                </h5>
            </div>
        </div>
    </div>
</div>
<h1 class="h3 mb-3 mt-40">{{'links.backendsSGI' | translate}}</h1>
<div class="row">
    <div class="col-lg-6 col-xl-3  cursor">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2">
                    <a href="{{sgi}}" target="_blank" rel="noopener noreferrer">{{'links.backendsSGI' | translate}}</a>
                </h5>
            </div>

        </div>
    </div>
</div>
<h1 class="h3 mb-3 mt-40">{{'links.other' | translate}}</h1>
<div class="row">
    <div class="col-lg-6 col-xl-3 cursor">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2"><a
                        href="https://github.com/HerculesCRUE/ib-asio-docs-/blob/a3e838e9944faac26957cc1944b468f65596a2c9/09-Buenas_pr%C3%A1cticas_para_URIs_H%C3%A9rcules/ASIO_Izertis_Contrato_BuenasPracticasParaURIsHercules.md"
                        target="_blank" rel="noopener noreferrer">{{'home.info-URI' | translate}}</a></h5>
            </div>
        </div>
    </div>
</div>