<h1 class="legend margin-top">{{'uris.title'}}</h1>

<div class="row">
    URIS Factory

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel sapiente natus aliquam. Illum ab blanditiis similique
    delectus eaque. Hic impedit quasi sapiente recusandae excepturi deleniti deserunt quo praesentium molestiae?
    Exercitationem?
    <!--
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <h1 class="legend margin-top">{{'statistics.legend-top' | translate}}</h1>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div style="min-width:600px;height: 450px" echarts [options]="echartOptions" class="sector-chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <h1 class="legend margin-top">{{'statistics.legend-top-patents' | translate}}</h1>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div style="min-width:600px;height: 450px" echarts [options]="echartOptions2" class="sector-chart">
                </div>

            </div>
        </div>
    </div>
    -->
</div>