<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm" (keydown.enter)="$event.preventDefault()">
    <div class="row">
        <div class="col-12">
            <h5 class="card-title"> {{'form.search-form' | translate}}</h5>
        </div>
    </div>
    <div class="row">
        <!-- type -->
        <div class="form-group col-lg-3">
            <label for="dateFrom{{idPrefix}}" class="control-label">{{'documents.date-ini' | translate }}</label>
            <input class="form-control ngbDatepicker" name="dateFrom{{idPrefix}}" id="dateFrom{{idPrefix}}" required
                (ngModelChange)="filterPatents()" placeholder="{{'form.datepicker-placeholder' | translate}}"
                ngbDatepicker [readonly]="true" #decisionDate="ngbDatepicker" (click)="decisionDate.toggle();"
                [minDate]="{year: 1950, month: 1, day: 1}" (keyup)="decisionDate.close()"
                #dateFrom{{idPrefix}}="ngModel" [(ngModel)]="dateIni" (keydown)="($event.key === 'Escape' || $event.key === 'Tab') ? decisionDate.close() :
            decisionDate.toggle();" />
        </div>
        <div class="form-group col-lg-3">
            <label for="dateTo{{idPrefix}}" class="control-label">{{'documents.date-fin' | translate }}</label>
            <input class="form-control ngbDatepicker" name="dateTo{{idPrefix}}" id="dateTo{{idPrefix}}" required
                (ngModelChange)="filterPatents()" placeholder="{{'form.datepicker-placeholder' | translate}}"
                ngbDatepicker [readonly]="true" #decisionTo="ngbDatepicker" (click)="decisionTo.toggle();"
                [minDate]="{year: 1950, month: 1, day: 1}"
                (keydown)="($event.key === 'Escape' || $event.key === 'Tab') ? decisionTo.close() : decisionTo.toggle();"
                (keyup)="decisionTo.close()" #dateTo{{idPrefix}}="ngModel" [(ngModel)]="dateFin" />
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <div class="card-header">

                    <div class="container-fluid">
                        <div class="row justify-content-end">

                            <div id="mainSearch" aria-labelledby="mainSearch" class="input-group col-md-4"
                                role="search">
                                <input class="form-control py-2 border-right-0 border" type="search" name="search"
                                    #search="ngModel" placeholder="{{'form.search-by-title' | translate }}"
                                    [(ngModel)]="findRequest.filter.name" (keyup.enter)="filterPatents()">
                                <span class="input-group-append">
                                    <button (click)="filterPatents()"
                                        [attr.aria-label]="'form.search-by-name' | translate" role="button"
                                        aria-pressed="false" class="btn btn-outline-secondary border-left-0 border"
                                        type="button">
                                        <em class="oi oi-magnifying-glass "></em>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group col-md-2 text-right">
                                <button id="clean" [attr.aria-label]="'form.clean' | translate " role="button"
                                    aria-pressed="false" class="btn btn-secondary" (click)="f.resetForm();">{{'form.clean' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0" *ngIf="loaded && resultObject?.content?.length === 0">
                        {{'form.no-result' | translate}}</h5>
                    <h5 class="card-title mb-0" *ngIf="loaded && resultObject?.content?.length !== 0">
                        {{'form.results-amount' | translate}} {{resultObject?.totalElements}}</h5>
                </div>
                <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="loader" *ngIf="!loaded"></div>
                    <app-table-results-dto [displayPagination]="false" [findRequest]="findRequest"
                        [dtoTypeTranslate]="'patent'" [extra]="'4'"
                        *ngIf="loaded && resultObject?.content?.length !== 0" [data]="resultObject?.content"
                        [routerNameLink]="url" [routerField]="'id'" [pageInfo]="resultObject"
                        [visibleColumns]="visibleColumns" [mainColumn]="mainColumn"
                        (sortChanged)="allPatentsFilteredSortChanged($event)">
                    </app-table-results-dto>
                    <div class="container-fluid app-table-results">
                        <div class="row">
                            <div class="col">
                                <app-pagination [resultObject]="resultObject" (pageChanged)="showPage($event)"
                                    (sizeChanged)="changeSize($event)">
                                </app-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="row" *ngIf="!isChatHiden">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">

            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div style="min-width:600px;height: 450px" echarts [options]="echartOptions" class="sector-chart"></div>
            </div>
        </div>
    </div>
</div>