<div class="container-fluid">
    <div class="row text-muted">
        <div class="col-12 text-right">
            <p>
                <a (click)="backClicked()" class="text-muted"> {{'form.back' | translate}} </a>
            </p>
        </div>
    </div>
</div>
<div class="row" *ngIf="loaded">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <legend class="legend">{{ event.title}}</legend>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="detail-container">
                    <div class="row">
                        <div class="col-12">
                            <p><strong>{{event.type}}</strong></p>
                            <p><strong>{{'events.id' | translate}}:</strong> {{event.id}}</p>
                            <p><strong>{{'events.type' | translate}}:</strong> {{event.type}}</p>
                            <p><strong>{{'events.abbreviation' | translate}}:</strong> {{event.abbreviation}}</p>
                            <p><strong>{{'events.contactInformation' | translate}}:</strong>
                                {{event.contactInformation}}</p>
                            <p><strong>{{'events.date' | translate}}:</strong> {{event.date}}</p>
                            <p><strong>{{'events.description' | translate}}:</strong> {{event.description}}</p>
                            <p><strong>{{'events.locality' | translate}}:</strong> {{event.locality}}</p>
                            <p><strong>{{'events.locatedIn' | translate}}:</strong> {{event.locatedIn}}</p>
                            <p><strong>{{'events.presents' | translate}}:</strong> {{event.presents}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>