<div class="container-fluid">
    <div class="row text-muted">
        <div class="col-12 text-right">
            <p>
                <a (click)="backClicked()" class="text-muted"> {{'form.back' | translate}} </a>
            </p>
        </div>
    </div>
</div>
<div class="row" *ngIf="loaded">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <legend class="legend">{{ event.title}}</legend>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="detail-container">
                    <div class="row">

                        <ng-template #detailField let-titleKey="titleKey" let-value="value" let-optional="optional"
                            let-hidden="hidden">
                            <div class="col-lg-6" *ngIf="!hidden && (!optional || !!value)">
                                <p>
                                    <strong>{{titleKey | translate}}:</strong>
                                    {{value || value === 0 ? value : '--'}}
                                </p>
                            </div>
                        </ng-template>

                        <div class="col-12">
                            <p><strong>{{event.type}}</strong></p>
                        </div>

                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'events.id', 'value': event?.id}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'events.type', 'value': event?.type}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'events.abbreviation', 'value': event?.abbreviation}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'events.contactInformation', 'value': event?.contactInformation}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'events.date', 'value': event?.date}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'events.description', 'value': event?.description}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'events.locality', 'value': event?.locality}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'events.locatedIn', 'value': event?.locatedIn}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'events.presents', 'value': event?.presents}">
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>