table.table thead > tr > th.fixedwidth {
  width: 150px;
}
table.table tbody > tr > td .oi-check {
  color: #4bbf73;
}
table.table tbody > tr > td .oi-x {
  color: var(--umu-gris-claro-500);
}
table.table tbody app-result-item ::ng-deep .card {
  margin: 0 !important;
}
@media (max-width: 767px) {
  table.table thead > tr > th:nth-last-child(-n+2),
  table.table tbody > tr:not(.expanded-row-content) > td:nth-last-child(-n+2) {
      display: none; /* hide last two columns */
  }
}