<div class="row">
    <div class="col-lg-12">
        <h1 class="legend">{{ 'dataDeletion.header' | translate }}</h1>
    </div>
</div>

<fieldset class="panel-default">
    <legend></legend>
    <div class="row">
        <div class="col-12">
            <div class="card flex-fill">

                <form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm"
                    (keydown.enter)="$event.preventDefault()">
                    <fieldset class="panel-default">
                        <legend></legend>

                        <div class="col-lg-12">

                            <div class="row">
                                <!-- date -->
                                <div class="form-group col-lg-4">
                                    <label for="date" class="control-label">{{'dataDeletion.date' | translate }}</label>
                                    <input class="form-control ngbdatepicker" name="date" id="date" required
                                        [readOnly]="true" [minDate]="{year: 1950, month: 1, day: 1}" [maxDate]="maxDate"
                                        placeholder="{{'form.datepicker-placeholder' | translate}}" ngbDatepicker
                                        #decisionDate="ngbDatepicker" (click)="decisionDate.toggle();"
                                        (keyup)="decisionDate.close()"
                                        (keydown)="($event.key === 'Escape' || $event.key === 'Tab') ? decisionDate.close() : decisionDate.toggle();"
                                        #date="ngModel" [(ngModel)]="deletionDate" [disabled]="executing" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group col-lg-12">

                                    <button (click)="delete()" class="btn btn-secondary"
                                        [disabled]="!deletionDate || executing">
                                        {{'dataDeletion.delete' | translate}}
                                    </button>

                                </div>

                            </div>

                        </div>

                    </fieldset>


                </form>

            </div>
        </div>
    </div>

</fieldset>