<div class="container-fluid">
    <div class="row text-muted">
        <div class="col-12 text-right">
            <p>
                <a (click)="backClicked()" class="text-muted"> {{'form.back' | translate}} </a>
            </p>
        </div>
    </div>
</div>
<div class="row" *ngIf="loaded">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <legend class="legend">{{ document.title}}</legend>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="detail-container">
                    <div class="row">
                        <div class="col-12">
                            <p><strong>{{'documents.type' | translate}}: {{lastItem}}</strong></p>
                            <p><strong>{{'documents.doi' | translate}}:</strong> {{document.doi}}</p>
                            <p><strong>{{'documents.date' | translate}}:</strong> {{document.date}}</p>
                            <p><strong>{{'documents.edition' | translate}}:</strong> {{document.edition}}</p>
                            <p><strong>{{'documents.startPage' | translate}}:</strong> {{document.startPage}}</p>
                            <p><strong>{{'documents.endPage' | translate}}:</strong> {{document.endPage}}</p>
                            <p><strong>{{'documents.summary' | translate}}:</strong> {{document.summary}}</p>
                            <p><strong>{{'documents.placeOfPublication' | translate}}:</strong>
                                {{document.placeOfPublication}}</p>
                            <p><strong>{{'documents.publishedIn' | translate}}:</strong> {{document.publishedIn}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <table class="table table-bordered">
                    <caption>{{ "document.other-authors" | translate }}</caption>
                    <thead>
                        <tr class="sortable">
                            <th scope="col">{{'document.name' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of document.otherAuthors">
                            <td>{{item}}</td>
                        </tr>
                    </tbody>
                </table>-->