<div class="container-fluid">
    <div class="row text-muted">
        <div class="col-12 text-right">
            <p>
                <a (click)="backClicked()" class="text-muted"> {{'form.back' | translate}} </a>
            </p>
        </div>
    </div>
</div>
<div class="row" *ngIf="loaded && document">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <legend class="legend">
                    <ng-container *ngIf="document.title;else documentDescription">
                        {{ document.title}}
                    </ng-container>
                    <ng-template #documentDescription>
                        {{ document.description}}
                    </ng-template>
                </legend>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="detail-container">
                    <div class="row">

                        <ng-template #detailField let-titleKey="titleKey" let-value="value" let-value2="value2"
                            let-optional="optional" let-hidden="hidden">
                            <div class="col-lg-6" *ngIf="!hidden && (!optional || !!value || !!value2)">
                                <p>
                                    <strong>{{titleKey | translate}}:</strong>
                                    <ng-container *ngIf="value || value === 0">
                                        {{value}}
                                    </ng-container>
                                    <ng-container *ngIf="value2 || value2 === 0">
                                        {{value2}}
                                    </ng-container>
                                    <ng-container *ngIf="!(value || value === 0 || value2 || value2 === 0)">
                                        --
                                    </ng-container>
                                </p>
                            </div>
                        </ng-template>

                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.type', 'value': lastItem}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.doi', 'value': document?.doi}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.date', 'value': document?.date}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.edition', 'value': document?.edition}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.startPage', 'value': document?.startPage, 'value2': document?.PageStart}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.endPage', 'value': document?.endPage, 'value2': document?.PageEnd}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.summary', 'value': document?.summary, 'value2': document?.description}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.placeOfPublication', 'value': document?.placeOfPublication}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.publishedIn', 'value': document?.publishedIn}">
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>