<div class="row">
    <div class="col-12">
        <h3>Universidad de Murcia</h3>
        <h4> Avda. Teniente Flomesta, 5 · 30003 . Murcia </h4>
        <p> Teléfono: <a class="link" href="tel:+34868883000"><strong>+34 868 88 3000</strong> </a>(Centralita) /
            <a class="link" href="tel:+34868888888"><strong>+34 868 88 8888</strong></a> (Información)
        </p>
        <a href="https://www.um.es/departamentos" class="link">Departamentos</a> <br>
        <a href="https://www.um.es/servicios" class="link">Servicios</a> <br>
        <a href="https://www.um.es/web/universidad/campus-virtual" class="link"> Aula Virtual</a><br>
        <a href="https://general.um.es/general/inspeccion.buzon" class="link">Buzón Universitario</a> <br>
        <a href="https://www.um.es/web/universidad/lucha-contra-el-fraude" class="link">Lucha contra el fraude</a> <br>
        <a href="http://dumbo.um.es/" class="link">Sistema DUMBO </a> <br>
        <a href="https://www.um.es/web/universidad/accesibilidad" class="link">Accesibilidad</a><br>
        <a href="https://www.um.es/web/universidad/contenido/como-llegar" class="link">Cómo llegar</a> <br>
        <a href="https://www.um.es/web/emergencias" class="link">Emergencias</a> <br>
        <a href="https://www.um.es/web/ayuda/" class="link">Ayuda</a>
    </div>
</div>