<div class="container-fluid">
    <div class="row text-muted">
        <div class="col-12 text-right">
            <p>
                <a (click)="backClicked()" class="text-muted"> {{'form.back' | translate}} </a>
            </p>
        </div>
    </div>
</div>
<div class="row" *ngIf="loaded">

    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <legend class="legend">{{ patentDetail.title}}</legend>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="detail-container">
                    <div class="row">

                        <ng-template #detailField let-titleKey="titleKey" let-value="value" let-optional="optional"
                            let-hidden="hidden">
                            <div class="col-lg-6" *ngIf="!hidden && (!optional || !!value)">
                                <p>
                                    <strong>{{titleKey | translate}}:</strong>
                                    {{value || value === 0 ? value : '--'}}
                                </p>
                            </div>
                        </ng-template>

                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'patent.doi', 'value': patentDetail?.doi}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'patent.startPage', 'value': patentDetail?.startPage}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'patent.endPage', 'value': patentDetail?.endPage}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'patent.keyword', 'value': patentDetail?.keyword}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'patent.mode', 'value': patentDetail?.mode}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'patent.startDate', 'value': patentDetail?.startDate}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'patent.endDate', 'value': patentDetail?.endDate}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'patent.summary', 'value': patentDetail?.summary}">
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>