<!-- menu entries -->
<ul class="nav-list">
  <ng-container *ngFor="let item of menuItems">

    <li *ngIf="(item.title === 'menu.validator' || item.title === 'menu.import-data') && isLogged"
      routerLinkActive="active">
      <ng-container>
        <a class="sidebar-link" [routerLink]="[item.url]">
          <em class="oi icons-menu" [ngClass]="[item.icon]"></em>
          <span>{{ item.title | translate }}</span>
        </a>
      </ng-container>
    </li>
    <li *ngIf="item.title !== 'menu.validator' && item.title !== 'menu.import-data'" routerLinkActive="active">
      <ng-container *ngIf="!item.disabled && item.title !== 'menu.validator' && item.title !== 'menu.import-data'">
        <a class="sidebar-link" [routerLink]="[item.url]">
          <em class="oi icons-menu" [ngClass]="[item.icon]"></em>
          <span>{{ item.title | translate }}</span>
        </a>
      </ng-container>
      <ng-container *ngIf="item.disabled">
        <em class="oi icons-menu" [ngClass]="[item.icon]"></em>
        <span>{{ item.title | translate }}</span>
      </ng-container>
    </li>
  </ng-container>
</ul>