<div class="row">
    <div class="col-12">
        <h3>Datos del Grafo ASIO-SGI</h3>

        <p>Los datos del grafo pueden consultarse bien a través de un endpoint SparQL, accesible desde la home para
            usuarios autenticados</p>

        <h3>Linked Data Server</h3>

        <p>Las entidades y sus relaciones están accesibles mediante un servidor Linked Data Server
            (<a href="https://github.com/HerculesCRUE/ib-asio-ldp"
                class="link"><strong>https://github.com/HerculesCRUE/ib-asio-ldp</strong></a>)</p>

        <h3>Principios Fair</h3>


        <a href="https://github.com/HerculesCRUE/ib-asio-docs-/tree/master/05-An%C3%A1lisis_de_m%C3%A9todos_FAIR"
            class="link"><strong>https://github.com/HerculesCRUE/ib-asio-docs-/tree/master/05-An%C3%A1lisis_de_m%C3%A9todos_FAIR</strong></a>
    </div>
</div>