<div id="wrapper" [ngClass]="{ toggled: isMenuCollapsed }">
  <div class="sidebar-toggle" (click)="toggleMenu()">
    <em class="oi oi-menu"></em>
  </div>
  <div id="sidebar-wrapper" role="navigation">
    <nav id="sidebar" class="sidebar" aria-labelledby="sidebar">
      <div class="sidebar-content js-simplebar" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
          <div class="simplebar-height-auto-observer-wrapper">
            <div class="simplebar-height-auto-observer"></div>
          </div>
          <div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
              <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                <div class="simplebar-content" style="padding: 0px;">
                  <a class="sidebar-brand">
                    <img alt="Logo Hercules" class="logo" src="assets/images/transparent logo Hercules.png">
                  </a>
                  <app-menu></app-menu>
                </div>
              </div>
            </div>
          </div>
          <div class="simplebar-placeholder" style="width: auto; height: 1408px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
          <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
          <div class="simplebar-scrollbar"
            style="height: 338px; transform: translate3d(0px, 0px, 0px); display: block;">
          </div>
        </div>
      </div>
    </nav>
  </div>

  <nav id="navbar-exapand" class="navbar navbar-expand navbar-light navbar-bg" aria-labelledby="navbar-exapand">
    <ul class="navbar-nav">
      <div class="logos">
        <img alt="Logo Gobierno de España" class="logo" src="assets/images/logo1.png">
        <div class="logoText">
          <p>FONDO EUROPEO DE DESARROLLO REGIONAL (FEDER)</p>
          <p><strong><em>Una manera de hacer Europa</em></strong></p>
        </div>
        <img alt="Logo Unión europea" class="logo2" src="assets/images/logo3.png">
      </div>

    </ul>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">


        <li class="nav-item ">
          <div class="lang-container">
            <a class="link-lang cursor" href="JavaScript:void(0)"
              (click)="translateHelperService.setTransLanguage('es')">
              <img alt="{{'lang.es' | translate}}" src="assets/images/spanish-language.png" />
            </a>
            <a class="link-lang cursos" href="JavaScript:void(0)"
              (click)="translateHelperService.setTransLanguage('en')">
              <img alt="{{'lang.en' | translate}}" src="assets/images/english-language.png" />
            </a>

          </div>
        </li>
        <li class="nav-item ml-15 cursor" [routerLink]="'./login'" *ngIf="!isLogged">
          <em class="oi oi-account-login icons-menu"></em>
          {{ "menu.login" | translate }}

        </li>
        <li class="nav-item ml-15 cursor" (click)="logout()" *ngIf="isLogged">
          <em class="oi oi-account-logout icons-menu"></em>
          {{ "menu.logout" | translate }}
        </li>
      </ul>
    </div>
  </nav>
  <div id="page-content-wrapper">


    <div class="container-fluid">

      <div class="anim">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>