<div id="main-wrapper">
  <header class="topbar">
    <nav class="navbar" aria-labelledby="navbar-exapand">
      <div class="row" style="width: 99%;">
        <div class="col-1">
          <a id="menu-button" (click)="toggleMenu()" class="ui-link ui-widget lateralMenuSwitcher selected ">
            <em class="fa fa-{{isMenuCollapsed ? 'bars' : 'times'}}"></em>
          </a>

          <span class="app-name d-sm-none"></span>
          <span class="app-name app-name-secondary d-sm-none"> </span>
        </div>
        <div class="col-2 mobile" style="margin-left: 40%;margin-right:-40%">

          <ul class="navbar-actions">
            <li class="navbar-item">
              <div class="logos" style="margin-top: -2%; ">
                <img alt="Logo Gobierno de España" class="logo " src="assets/images/logo1.png">
                <div class="logoText">
                  <p>FONDO EUROPEO DE DESARROLLO REGIONAL (FEDER)</p>
                  <p><strong><em style="color: white;">Una manera de hacer Europa</em></strong></p>
                </div>
                <img alt="Logo Unión europea" class="logo" style="margin-left: 1.5%;" src="assets/images/logo3.png">
              </div>
            </li>
          </ul>

        </div>
        <div class="col-9 mobile2">
          <ul class="navbar-actions">

            <li *ngIf="!isLogged" class="navbar-item">
              <a [routerLink]="'./login'">
                {{ "menu.login" | translate }}
              </a>
            </li>
            <li *ngIf="isLogged" class="navbar-item navbar-item-exit">
              <a (click)="logout()">
                <em class="fa fa-power-off navbar-item-icon"></em>
              </a>
            </li>

            <li class="navbar-item">
              <a class="link-lang cursor" href="JavaScript:void(0)"
                (click)="translateHelperService.setTransLanguage('es')">
                {{'lang.es' | translate}}
              </a>
              &#124;
              <a class="link-lang cursos" href="JavaScript:void(0)"
                (click)="translateHelperService.setTransLanguage('en')">
                {{'lang.en' | translate}}
              </a>
            </li>
          </ul>



          <span class="app-name d-md-none"></span>
          <span class="app-name app-name-secondary d-md-none"></span>
        </div>
      </div>
    </nav>
  </header>

  <div class="page-wrapper">

    <div class="sidebar"
      [ngClass]="{'sidebar-collapse': isMenuCollapsed, 'sidebar-transitioning': isMenuTransitioning}">
      <div class="sidebar-header">
      </div>
      <nav id="sidebar-nav" aria-labelledby="sidebar-nav">
        <app-menu></app-menu>
      </nav>
    </div>
    <span class="mainMenu-bg"></span>

    <div class="main-content">

      <div class="page-content">



        <div class="container-fluid">

          <div class="anim">
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>

      <footer class="footerRow clearfix">

        <span class="organism"><img alt="Logo Universidad de Murcia" class="logoFooter"
            src="assets/images/logo2.png"></span>

        <nav class="footer-links" aria-labelledby="footer-links">

          <ng-container *ngFor="let groupItem of groupItems">
            <ng-container *ngIf="groupItem.title === 'home.info'">
              <ng-container *ngFor="let item of groupItem.homeItems; let i = index">
                <span *ngIf="!item.disabled && i % 2 === 0">
                  <a class="link" *ngIf="item.url !== ''" [href]="item.urlExterna" [routerLink]="[item.url]">{{
                    item.title| translate }}</a>
                  <a class="link" *ngIf="item.url === ''" [href]="item.urlExterna">{{ item.title| translate }}</a>
                </span>

              </ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngFor="let groupItem of groupItems">
            <ng-container *ngIf="groupItem.title === 'home.info'">
              <ng-container *ngFor="let item of groupItem.homeItems; let i = index">
                <span *ngIf="!item.disabled && i % 2 !== 0">
                  <a class="link" *ngIf="item.url !== ''" [href]="item.urlExterna" [routerLink]="[item.url]">{{
                    item.title| translate }}</a>
                  <a class="link" *ngIf="item.url === ''" [href]="item.urlExterna">{{ item.title| translate }}</a>
                </span>

              </ng-container>
            </ng-container>
          </ng-container>
        </nav>
      </footer>

    </div>

  </div>
</div>