<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <h1 class="legend">{{'menu.sparql' | translate }}</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        &nbsp;
                        <label *ngIf="federatedItem">
                            <input type="checkbox" (change)="federChangeCheck($event.target.checked)">
                            {{'sparql.main.federated'
                            |
                            translate}} </label>

                    </div>
                    <div class="col-md-9 text-right" style="padding-bottom:15px">
                        <button (click)="cleanQuerySparq()" class="btn btn-secondary">{{'form.reset' | translate
                            }}</button>
                    </div>

                </div>

                <div id="yasgui"></div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <h1 class="legend">{{'form.results' | translate }}</h1>
            </div>
            <div class="card-body">
                <app-results [data]="jsonData" [errorMessage]="errorMessage"></app-results>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <h1 class="legend">{{'form.saved-queries' | translate }}</h1>
            </div>
            <div class="card-body">
                <app-queries-management></app-queries-management>
            </div>

        </div>
    </div>
</div>