<div *ngIf="dataIsLoaded; else notLoadedState">
    <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <div class="card-header">
                    <!--{{ discovery.state-tittle | translate }}-->
                    <legend class="legend">{{'discovery.search-tittle' | translate}}</legend>
                    <div class="form-row">
                        <label for="actionSearch" class="col-sm-4 control-label">{{ "discovery.action-search-label" |
                            translate
                            }}</label>
                        <div class="form-group col-md-4">
                            <select class="col-4" name="actionSearch"
                                [attr.aria-label]="'discovery.storage' | translate" class="form-control"
                                [(ngModel)]="actionSearch" #type="ngModel" (change)="onActionSelected()">
                                <option value="results">{{ "action-results" | translate }}</option>
                                <option value="open">{{ "action-open" | translate }}</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div *ngIf="actionSearch === 'results'">
                    <div class="card-body">

                        <h5 class="card-title">{{'discovery.action-search-class' | translate}}</h5>

                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="node">{{'discovery.node' | translate}}</label>
                                    <select id="node" name="node" class="form-control"
                                        [(ngModel)]="searchRequest.filter.node" #type="ngModel"
                                        (change)="onNodeSelected()" required>
                                        <option *ngFor="let n of nodes  | keyvalue" [value]="n.key">{{n.key}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="tripleStore">{{'discovery.storage' | translate}}</label>
                                    <select id="tripleStore" name="tripleStore" class="form-control"
                                        [(ngModel)]="searchRequest.filter.tripleStore" #type="ngModel"
                                        (change)="onTripleStoreSelected()" [disabled]="!searchRequest.filter.node"
                                        required>
                                        <option *ngFor="let ts of nodes[searchRequest.filter.node]" [value]="ts">
                                            {{ts}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="className">{{'discovery.class' | translate}}</label>
                                    <select id="className" name="className" class="form-control"
                                        [(ngModel)]="searchRequest.filter.className" #type="ngModel"
                                        [disabled]="!searchRequest.filter.tripleStore" required>
                                        <option *ngFor="let o of this.objetsList" [value]="o">
                                            {{o}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="true" id="doSynchronous"
                                        [checked]="searchRequest.filter.doSynchronous"
                                        (change)="searchRequest.filter.doSynchronous = !searchRequest.filter.doSynchronous">
                                    <label class="form-check-label" for="doSynchronous">
                                        {{'discovery.action-check-sync-label' | translate}}
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="true" id="applyDelta"
                                        [checked]="searchRequest.filter.applyDelta"
                                        (change)="searchRequest.filter.applyDelta = !searchRequest.filter.applyDelta">
                                    <label class="form-check-label" for="applyDelta">
                                        {{'discovery.action-check-deltas-label' | translate}}
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="true" id="linkEntities"
                                        [checked]="searchRequest.filter.linkEntities"
                                        (change)="searchRequest.filter.linkEntities = !searchRequest.filter.linkEntities">
                                    <label class="form-check-label" for="linkEntities">
                                        {{'discovery.action-check-other-search-label' | translate}}
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary" (click)="launchSearch()"
                                [disabled]="!searchRequest.filter.node || !searchRequest.filter.tripleStore || !searchRequest.filter.className ">{{'discovery.action-btn-launch-search'
                                | translate}}</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

        <ng-template #notLoadedState>
            {{'discovery.noData' | translate}}
        </ng-template>
    </div>
</div>



<ng-template #notLoadedState>
    {{'discovery.noData' | translate}}
</ng-template>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> {{'discovery.search-message'
        | translate}} </p>
</ngx-spinner>

<div *ngIf="responseIsReady && responseData">
    <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <div class="card-header">
                    <!--{{ discovery.state-tittle | translate }}-->
                    <legend class="legend">{{'discovery.response-title' | translate}}</legend>
                </div>


                <div class="card-body">

                    <div class="form-group row">
                        <label for="response-node" class="col-sm-2 col-form-label">{{'discovery.node' |
                            translate}}:</label>
                        <div class="col-sm-10">
                            <input style="font-weight: bold;" type="text" readonly class="form-control-plaintext"
                                id="response-node" value="{{ responseData.response.node }}" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="response-triple" class="col-sm-2 col-form-label">{{'discovery.storage' |
                            translate}}</label>
                        <div class="col-sm-10">
                            <input style="font-weight: bold;" type="text" readonly class="form-control-plaintext"
                                id="response-triple" value="{{ responseData.response.tripleStore }}" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="response-className" class="col-sm-2 col-form-label">{{'discovery.class' |
                            translate}}</label>
                        <div class="col-sm-10">
                            <input style="font-weight: bold;" type="text" readonly class="form-control-plaintext"
                                id="response-className" value="{{ responseData.response.className }}" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="response-status" class="col-sm-2 col-form-label">{{'discovery.status' |
                            translate}}</label>
                        <div class="col-sm-10">
                            <input style="font-weight: bold;" type="text" readonly class="form-control-plaintext"
                                id="response-status" value="{{ responseData.response.status }}" disabled>
                        </div>
                    </div>


                    <div *ngIf="responseData.response.status === 'COMPLETED'; else statusPending">


                        <div class="form-group row">
                            <label for="response-startDate" class="col-sm-2 col-form-label">{{'discovery.startDate' |
                                translate}}</label>
                            <div class="col-sm-10">
                                <input style="font-weight: bold;" type="text" readonly class="form-control-plaintext"
                                    id="response-startDate" value="{{ responseData.response.startDate }}" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="response-endDate" class="col-sm-2 col-form-label">{{'discovery.endDate' |
                                translate}}</label>
                            <div class="col-sm-10">
                                <input style="font-weight: bold;" type="text" readonly class="form-control-plaintext"
                                    id="response-endDate" value="{{ responseData.response.endDate }}" disabled>
                            </div>
                        </div>

                        <div *ngIf="responseData.response.results.length > 0; else noSimilatirityResultsFound">
                            <legend class="legend">{{'discovery.results-title' | translate}}</legend>
                            <ngb-accordion [closeOthers]="false">
                                <ngb-panel *ngFor="let it of responseData.response.results" id="it-{{it.entityId}}"
                                    title="Entidad principal: {{it.entityId}}">
                                    <ng-template ngbPanelContent>
                                        <app-result-item [item]="it" [requestId]="responseData.response.requestCode"
                                            [userId]="responseData.response.userId"
                                            [requestType]="responseData.response.requestType"></app-result-item>
                                        <hr>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>

                        <ng-template #noSimilatirityResultsFound>
                            {{'discovery.not-result-found' | translate}}
                        </ng-template>

                    </div>

                    <ng-template #statusPending>


                        <h5 class="card-title"> userId:
                            <span class="badge badge-success">{{ responseData.response.userId }}</span>
                        </h5>

                        <h5 class="card-title"> requestCode:
                            <span class="badge badge-success">{{ responseData.response.requestCode }}</span>
                        </h5>

                        <h5 class="card-title"> requestType:
                            <span class="badge badge-success">{{ responseData.response.requestType }}</span>
                        </h5>

                        {{'discovery.pending-message' | translate}}
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>