<fieldset class="panel-default">
    <legend></legend>
    <form class="form-horizontal" #f="ngForm" (keydown.enter)="$event.preventDefault()">
        <div class="row">

            <div class="form-group col-lg-4">
                <label for="type" class="control-label">{{ "researchmentStructure.type" | translate }}</label>
                <div>
                    <select [attr.aria-label]="'researchmentStructure.type' | translate " name="type"
                        class="form-control" [(ngModel)]="findRequest.filter.type" id="type" #type="ngModel"
                        (change)="filterResearchmentStructures()">
                        <option [value]="undefined"> {{ "form.select" | translate }}</option>
                        <option value="University">Universidad</option>
                        <option value="Organization">Organización</option>
                    </select>
                </div>
            </div>
        </div>
        <!--  
            <div class="form-group col-lg-4">
                <label for="financing" class="control-label">{{ "researchmentStructure.financing" | translate }}</label>
                <div>
                    <select [attr.aria-label]="'researchmentStructure.financing' | translate " id="financing"
                        name="financing" class="form-control" [(ngModel)]="findRequest.filter.financing"
                        #financing="ngModel" (change)="filterResearchmentStructures()">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option value="Proyectos H2020">Proyectos H2020</option>
                        <option value="Proyecto del Plan Estatal">
                            Proyecto del Plan Estatal
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group col-lg-4">
                <label for="qa" class="control-label">{{ "researchmentStructure.qa" | translate }}</label>
                <div>
                    <select [attr.aria-label]="'researchmentStructure.qa' | translate " id="qa" name="qa"
                        class="form-control" [(ngModel)]="findRequest.filter.qa" #qa="ngModel"
                        (change)="filterResearchmentStructures()">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option [value]="'Severo Ochoa'">Severo Ochoa</option>
                    </select>
                </div>
            </div>
        </div>-->


        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="input-group col-md-1">
                    <button id="clean" [attr.aria-label]="'form.clean' | translate " role="button" aria-pressed="false"
                        class="btn btn-secondary" (click)="f.resetForm();">{{'form.clean' |
                        translate }}</button>
                </div>
                <div class="input-group col-md-4" role="search">
                    <input class="form-control py-2 border-right-0 border" type="search" name="search" #search="ngModel"
                        placeholder="{{'form.search-by-title' | translate }}" [(ngModel)]="findRequest.filter.name"
                        (keyup.enter)="filterResearchmentStructures()">
                    <span class="input-group-append">
                        <button (click)="filterResearchmentStructures()"
                            [attr.aria-label]="'form.search-by-name' | translate" role="button" aria-pressed="false"
                            class="btn btn-outline-secondary border-left-0 border" type="button">
                            <em class="oi oi-magnifying-glass "></em>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</fieldset>
<div class="loader" *ngIf="!loaded"></div>
<div class="container-fluid" *ngIf="loaded && allResearchmentStructuresFiltered.content.length === 0">
    <div class="row">
        <div class="col-12">
            <h3>{{'form.no-result' | translate}}</h3>
        </div>
    </div>
</div>
<app-table-results-dto [findRequest]="findRequest"
    *ngIf="loaded && allResearchmentStructuresFiltered.content.length !== 0"
    [dtoTypeTranslate]="'researchmentStructure'" [extra]="'2'" [data]="allResearchmentStructuresFiltered.content"
    [pageInfo]="allResearchmentStructuresFiltered" [routerFieldSecondary]="'type'" [routerField]="'id'"
    (pageChanged)="allResearchmentStructuresFilteredPageChanged($event)"
    (sizeChanged)="allResearchmentStructuresFilteredSizeChanged($event)"
    (sortChanged)="allResearchmentStructuresFilteredSortChanged($event)">
</app-table-results-dto>