<h1 class="legend">Sobre Hércules</h1>
<div class="row">
    <div class="col-12 mt-20">
        <div class="card flex-fill">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer p-3">

                El proyecto “Hércules - Semántica de Datos de Investigación de Universidades” es una iniciativa
                creada por la Universidad de Murcia con el objetivo de crear un Sistema de Gestión de Investigación
                (SGI) basado en datos abiertos semánticos que ofrezca una visión global de los datos de
                investigación del Sistema Universitario Español (SUE), para mejorar la gestión, el análisis y las
                posibles sinergias entre universidades y el gran público.
                <a href="https://www.um.es/web/hercules/sobre-hercules" target="_blank" rel="noopener noreferrer">mas
                    info</a>

            </div>
        </div>
    </div>
</div>