<h1 class="legend">{{'home.information' | translate}}</h1>
<div class="row">
    <div class="col-12 mt-20">
        <div class="card flex-fill">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer p-3">

                Desde este sitio web, se podrán consultar los resultados del proyecto Hércules ASIO. En esta interfaz
                existe una parte pública, que podrá ser accesible para cualquier usuario y podrá consultar la
                información almacenada en el sistema. Y una parte privada, a la que accederá solamente el personal
                autorizado, con un usuario y contraseña.

                <h1 class="h4 mb-3 mt-60">Entidades del Grafo ASIO-SGI</h1>

                Los datos del grafo pueden consultarse a través de la sección Entidades del Grafo ASIO-SGI

                <h1 class="h4 mb-3 mt-40">Linked Data Server</h1>

                Las entidades y sus relaciones están accesibles mediante un servidor Linked Data Server (<a
                    href="https://github.com/HerculesCRUE/ib-asio-ldp" target="_blank"
                    rel="noopener noreferrer">https://github.com/HerculesCRUE/ib-asio-ldp</a>)

                <h1 class="h4 mb-3 mt-40">Principios Fair</h1>

                <a href="https://github.com/HerculesCRUE/ib-asio-docs-/tree/master/05-An%C3%A1lisis_de_m%C3%A9todos_FAIR"
                    target="_blank" rel="noopener noreferrer">
                    https://github.com/HerculesCRUE/ib-asio-docs-/tree/master/05-An%C3%A1lisis_de_m%C3%A9todos_FAIR
                </a>

                <h1 class="h4 mb-3 mt-40">Manual de usuario</h1>

                <a href="https://github.com/HerculesCRUE/ib-asio-docs-/blob/master/00-An%C3%A1lisis/Manual%20de%20usuario/Manual%20de%20usuario.md"
                    target="_blank" rel="noopener noreferrer">
                    https://github.com/HerculesCRUE/ib-asio-docs-/blob/master/00-An%C3%A1lisis/Manual%20de%20usuario/Manual%20de%20usuario.md
                </a>

            </div>
        </div>
    </div>
</div>