<div class="row">
    <div class="col-lg-12">
        <h1 class="legend">{{'installer.header' | translate}}</h1>
    </div>
</div>
<div class="row mt-20">
    <div class="col-lg-6 col-xl-3  cursor">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2">
                    <a href="https://github.com/HerculesCRUE/ib-asio-docs-/tree/master/00-Arquitectura/ASIO_Installer"
                        target="_blank" rel="noopener noreferrer">{{'installer.script' | translate}}</a>
                </h5>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xl-3 cursor">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2"><a
                        href="https://github.com/HerculesCRUE/ib-asio-docs-/blob/master/00-Arquitectura/Manual_de_despliegue/manual_de_despliegue.md"
                        target="_blank" rel="noopener noreferrer">{{'installer.manual' | translate}}</a></h5>
            </div>
        </div>
    </div>
</div>