<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm" (keydown.enter)="$event.preventDefault()">
    <div class="row">
        <div class="col-12">
            <h5 class="card-title"> {{'form.search-form' | translate}}</h5>
        </div>
    </div>
    <div class="row">
        <!-- year -->
        <div class="form-group col-lg-6">
            <label for="anyo{{idPrefix}}" class="col-sm-4 control-label">{{ "participant.year" | translate }}</label>
            <div class="col-sm-8">
                <select name="anyo{{idPrefix}}" [attr.aria-label]="'participant.year' | translate" class="form-control"
                    [(ngModel)]="findRequest.filter.anyo" #type="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option *ngFor="let year of yearsForSelect" [value]="year">{{year}}</option>
                </select>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">

                <div class="container-fluid">
                    <div class="row justify-content-end">

                        <div class="input-group col-md-4" role="search">
                            <input class="form-control py-2 border-right-0 border" type="search" name="search"
                                #search="ngModel" placeholder="{{'form.search-by-title' | translate }}"
                                [(ngModel)]="findRequest.filter.name" (keyup.enter)="filteDirectedJobs()">
                            <span class="input-group-append">
                                <button (click)="filteDirectedJobs()"
                                    [attr.aria-label]="'form.search-by-name' | translate" role="button"
                                    aria-pressed="false" class="btn btn-outline-secondary border-left-0 border"
                                    type="button">
                                    <em class="oi oi-magnifying-glass "></em>
                                </button>
                            </span>
                        </div>
                        <div class="input-group col-md-2 text-right">
                            <button id="clean" [attr.aria-label]="'form.clean' | translate " role="button"
                                aria-pressed="false" class="btn btn-secondary" (click)="f.resetForm();">{{'form.clean' |
                                translate }}</button>
                        </div>
                    </div>
                </div>
                <h5 class="card-title mb-0" *ngIf="loaded && allDirectedJobs?.content.length === 0">
                    {{'form.no-result' | translate}}</h5>
                <h5 class="card-title mb-0" *ngIf="loaded && allDirectedJobs?.content.length !== 0">
                    {{'form.results-amount' | translate}} {{allDirectedJobs.totalElements}}</h5>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="loader" *ngIf="!loaded"></div>
                <app-table-results *ngIf="loaded" [data]="allDirectedJobs.content[0]" [pageInfo]="allDirectedJobs"
                    [dtoTypeTranslate]="'directed'" [extra]="idPrefix"
                    (pageChanged)="allDirectedFilteredPageChanged($event)" [headerData]="headerData"
                    (sizeChanged)="allDirectedFilteredSizeChanged($event)"
                    (sortChanged)="allDirectedFilteredSortChanged($event)">
                </app-table-results>
            </div>
        </div>
    </div>
</div>