<div class="container-fluid">
    <div class="row text-muted">
        <div class="col-12 text-right">
            <p>
                <a (click)="backClicked()" class="text-muted"> {{'form.back' | translate}} </a>
            </p>
        </div>
    </div>
</div>
<div class="row" *ngIf="loaded && publication">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <legend class="legend">{{ publication.title}}</legend>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="detail-container">
                    <div class="row">

                        <ng-template #detailField let-titleKey="titleKey" let-value="value" let-optional="optional"
                            let-hidden="hidden">
                            <div class="col-lg-6" *ngIf="!hidden && (!optional || !!value)">
                                <p>
                                    <strong>{{titleKey | translate}}:</strong>
                                    {{value || value === 0 ? value : '--'}}
                                </p>
                            </div>
                        </ng-template>

                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.id', 'value': publication?.id}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.title', 'value': publication?.title}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.abbreviation', 'value': publication?.abbreviation}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.date', 'value': publication?.date}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.description', 'value': publication?.description}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.homepage', 'value': publication?.homepage}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.isStartup', 'value': publication?.isStartup}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.keyword', 'value': publication?.keyword}">
                        </ng-container>
                        <ng-container
                            *ngTemplateOutlet="detailField;context:{'titleKey': 'documents.publicCompany', 'value': publication?.publicCompany}">
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>