<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm" (keydown.enter)="$event.preventDefault()">

    <app-panel title="{{'scientist.area' | translate}}" collapsable="true" panelClass="mt-20">

        <div class="row">
            <div class="col-lg-12">
                <button role="button" aria-pressed="false" class="btn btn-secondary tree" *ngIf="normalTree"
                    (click)="normalTree = !normalTree">{{'form.change-tree' |
                    translate}}</button>

                <button role="button" aria-pressed="false" class="btn btn-secondary tree" *ngIf="!normalTree"
                    (click)="normalTree = !normalTree">{{'form.change-tree-normal' |
                    translate}}</button>
            </div>
            <!-- categorias tree -->
            <div class="col-12" *ngIf="normalTree">
                <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate }}</label>
                <app-new-tree [treeType]="'area'" itemClass="col-lg-4 col-md-6"></app-new-tree>
            </div>
            <!-- categorias tree -->
            <div class="col-12" *ngIf="!normalTree">
                <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate }}</label>
                <app-tree [treeType]="'area'"></app-tree>
            </div>
        </div>

    </app-panel>

    <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <div class="card-header">

                    <div class="container-fluid">
                        <div class="row justify-content-end">

                            <div id="mainSearch" aria-labelledby="mainSearch" class="input-group col-md-4"
                                role="search">
                                <input class="form-control py-2 border-right-0 border" type="search" name="search"
                                    #search="ngModel" placeholder="{{'form.search-by-name' | translate }}"
                                    [(ngModel)]="findRequest.filter.name" (keyup.enter)="filterTop($event, 'name')">
                                <span class="input-group-append">
                                    <button (click)="filterTop($event, 'name')"
                                        [attr.aria-label]="'form.search-by-name' | translate" role="button"
                                        aria-pressed="false" class="btn btn-outline-secondary border-left-0 border"
                                        type="button">
                                        <em class="oi oi-magnifying-glass "></em>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group col-md-2 text-right">
                                <button id="clean" [attr.aria-label]="'form.clean' | translate " role="button"
                                    aria-pressed="false" class="btn btn-secondary"
                                    (click)="f.resetForm();">{{'form.clean' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0" *ngIf="loaded && resultObject?.content?.length === 0">
                        {{'form.no-result' | translate}}</h5>
                    <h5 class="card-title mb-0" *ngIf="loaded && resultObject?.content?.length !== 0">
                        {{'form.results-amount' | translate}} {{resultObject?.totalElements}}</h5>
                </div>

                <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="loader" *ngIf="!loaded"></div>
                    <app-table-results-dto [findRequest]="findRequest" [displayPagination]="false"
                        [routerNameLink]="url" [routerField]="'id'"
                        *ngIf="loaded && resultObject?.content?.length !== 0" [data]="resultObject?.content"
                        [dtoTypeTranslate]="'scientist'" [extra]="'2'" [pageInfo]="resultObject"
                        [visibleColumns]="['name', 'hasKnowledgeAreaTitle', 'gender']" mainColumn="name"
                        (sortChanged)="allScientistsFilteredSortChanged($event)">
                    </app-table-results-dto>
                    <div class="container-fluid app-table-results">
                        <div class="row">
                            <div class="col">
                                <app-pagination [resultObject]="resultObject" (pageChanged)="showPage($event)"
                                    (sizeChanged)="changeSize($event)">
                                </app-pagination>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>