<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm" (keydown.enter)="$event.preventDefault()">


    <div class="row">
        <div class="form-group col-lg-4">
            <label for="type" class="control-label">{{ "knowledgeAreas.type" | translate }}</label>
            <div>
                <select [attr.aria-label]="'knowledgeAreas.type' | translate " name="type" class="form-control"
                    [(ngModel)]="findRequest.filter.knowledgeAreas" id="type" #type="ngModel"
                    (change)="filterKnowledgeAreas()">
                    <option [value]="undefined"> {{ "form.select" | translate }}</option>
                    <option *ngFor="let c of areas" [ngValue]="c">{{c.title}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <div class="card-header">

                    <div class="container-fluid">
                        <div class="row justify-content-end">

                            <div id="mainSearch" aria-labelledby="mainSearch" class="input-group col-md-4"
                                role="search">
                                <input class="form-control py-2 border-right-0 border" type="search" name="search"
                                    #search="ngModel" placeholder="{{'form.search-by-name' | translate }}"
                                    [(ngModel)]="findRequest.filter.name" (keyup.enter)="filterTop($event, 'name')">
                                <span class="input-group-append">
                                    <button (click)="filterTop($event, 'name')"
                                        [attr.aria-label]="'form.search-by-name' | translate" role="button"
                                        aria-pressed="false" class="btn btn-outline-secondary border-left-0 border"
                                        type="button">
                                        <em class="oi oi-magnifying-glass "></em>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group col-md-2 text-right">
                                <button id="clean" [attr.aria-label]="'form.clean' | translate " role="button"
                                    aria-pressed="false" class="btn btn-secondary"
                                    (click)="f.resetForm();clearTree = clearTree+1;">{{'form.clean' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0" *ngIf="loaded && resultObject?.content?.length === 0">
                        {{'form.no-result' | translate}}</h5>
                    <h5 class="card-title mb-0" *ngIf="loaded && resultObject?.content?.length !== 0">
                        {{'form.results-amount' | translate}} {{resultObject?.totalElements}}</h5>
                </div>

                <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="loader" *ngIf="!loaded"></div>
                    <app-table-results-dto [findRequest]="findRequest" [displayPagination]="false"
                        [routerNameLink]="url" [routerField]="'id'" [ldapEntity]="true" ldapEntityUriField="uri"
                        *ngIf="loaded && resultObject?.content?.length !== 0" [data]="resultObject?.content"
                        [dtoTypeTranslate]="'scientist'" [extra]="'2'" [pageInfo]="resultObject"
                        [visibleColumns]="['name', 'gender']" mainColumn="name"
                        (sortChanged)="allScientistsFilteredSortChanged($event)">
                    </app-table-results-dto>
                    <div class="container-fluid app-table-results">
                        <div class="row">
                            <div class="col">
                                <app-pagination [resultObject]="resultObject" (pageChanged)="showPage($event)"
                                    (sizeChanged)="changeSize($event)">
                                </app-pagination>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>