<div class="row">
    <div class="col-lg-12">
        <h1 class="legend">{{ "ldp.header" | translate }}</h1>
    </div>
</div>

<button id="clean" [attr.aria-label]="'form.clean' | translate " role="button" aria-pressed="false"
    class="btn btn-secondary" (click)="back()">Volver</button>

<app-search-ldp></app-search-ldp>
<br />
<div class="loader" *ngIf="!details"></div>
<div class="container-fluid app-table-results" *ngIf="details">

    <a [routerLink]="['/main/ldp']">{{'ldp.category.names' | translate}}</a> &raquo;
    <a [routerLink]="['/main/categories/ldp-search-result']"
        [queryParams]="{category: categoryURI}">{{categoryName}}</a>

    <h3>{{entityName}} <a class="copy-uri" [ngClass]="{'copied': uriCopied}" (click)="copyURI(details.uri)">COPY URI</a>
    </h3>

    <div class="row">
        <div class="col">
            <table class="table table-bordered" aria-label="Data displayed from Sparql">
                <tbody>
                    <ng-container *ngFor="let detail of details.properties; index as i">

                        <tr [ngClass]="{ 'table-secondary': i % 2 == 1 }">
                            <td>{{detail.propertyName}}</td>
                            <td class="main-col-of-2">
                                <ng-container *ngIf="detail.categoryURI; else noCategoryURI">
                                    <a [routerLink]="['/main/categories/ldp-search-result']"
                                        [queryParams]="{category: detail.categoryURI}">{{detail.value}}</a>
                                </ng-container>
                                <ng-template #noCategoryURI>
                                    <ng-container *ngIf="validURL(detail.value); else noLinkPrinci">
                                        <a [routerLink]="['/main/categories/ldp-entity-details']"
                                            [queryParams]="{uri: detail.value}">{{detail.value}}</a>
                                    </ng-container>
                                    <ng-template #noLinkPrinci>
                                        {{detail.value}}
                                    </ng-template>
                                </ng-template>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-search-ldp-related-result [type]="'front'"></app-search-ldp-related-result>
<app-search-ldp-related-result [type]="'back'"></app-search-ldp-related-result>