<h1 class="legend margin-top">{{researchment?.title !== '' ? researchment?.title : lastItem}}</h1>
<div class="mt-20">
    <div class="row">

        <ng-template #detailField let-titleKey="titleKey" let-value="value" let-optional="optional" let-hidden="hidden">
            <div class="col-lg-6" *ngIf="!hidden && (!optional || !!value)">
                <p>
                    <strong>{{titleKey | translate}}:</strong>
                    {{value || value === 0 ? value : '--'}}
                </p>
            </div>
        </ng-template>

        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.id', 'value': researchment?.id}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.type', 'value': researchment?.type}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.title', 'value': researchment?.title}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.abbreviation', 'value': researchment?.abbreviation}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.homepage', 'value': researchment?.homepage}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.locatedIn', 'value': researchment?.locatedIn, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.hasContactInfo', 'value': researchment?.hasContactInfo, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.description', 'value': researchment?.description, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.freetextKeyword', 'value': researchment?.freetextKeyword, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.dateStart', 'value': researchment?.dateStart, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.dateEnd', 'value': researchment?.dateEnd, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.isStartup', 'value': researchment?.isStartup, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.publicCompany', 'value': researchment?.publicCompany, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.hasAcreditation', 'value': researchment?.hasAcreditation, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.hasKnowledgeArea', 'value': researchment?.hasKnowledgeArea, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.hasPredecessorOrganization', 'value': researchment?.hasPredecessorOrganization, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.hasSuccessorOrganization', 'value': researchment?.hasSuccessorOrganization, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.hasReservable', 'value': researchment?.hasReservable, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.contains', 'value': researchment?.contains, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.participates', 'value': researchment?.participates, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.provides', 'value': researchment?.provides, 'optional': true}">
        </ng-container>
        <ng-container
            *ngTemplateOutlet="detailField;context:{'titleKey': 'researchmentStructure.relatedBy', 'value': researchment?.relatedBy, 'optional': true}">
        </ng-container>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" [ngClass]="{'active': activeTab === 'scientist' }" id="scientist-tab"
                            (click)="changeTab('scientist')" data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
                            aria-controls="scientist"
                            [attr.aria-selected]="activeTab === 'scientist'">{{'researchmentStructure.scientist' |
                            translate}}</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" [ngClass]="{'active': activeTab === 'patents' }" id="patents-tab"
                            (click)="changeTab('patents')" data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
                            aria-controls="patents"
                            [attr.aria-selected]="activeTab === 'patents'">{{'researchmentStructure.patents' |
                            translate}}</a>
                    </li>
                </ul>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade"
                        [ngClass]="{'show': activeTab === 'scientist', 'active': activeTab === 'scientist' }"
                        id="scientist" role="tabpanel" aria-labelledby="scientist-tab">
                        <app-scientist-search [organizationId]="id" [url]="'../../../scientist'"
                            [idPrefix]="'scientist'">
                        </app-scientist-search>
                    </div>

                    <div class="tab-pane fade" id="patents"
                        [ngClass]="{'show': activeTab === 'patents', 'active': activeTab === 'patents' }"
                        role="tabpanel" aria-labelledby="patents-tab">
                        <app-patents [isChatHiden]="true" [organizationId]="id" [url]="'../../../patent'"
                            [idPrefix]="'patents'">
                        </app-patents>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>