<h1 class="legend margin-top">{{researchment?.title !== '' ? researchment?.title : lastItem}}</h1>
<div class="mt-20">
    <div class="row">
        <div class="col-12">
            <p><strong>{{ "researchmentStructure.type" | translate }}:</strong> {{researchment?.type}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><strong>{{ "researchmentStructure.title" | translate }}:</strong> {{researchment?.title}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><strong>{{ "researchmentStructure.abbreviaton" | translate }}:</strong> {{researchment?.abbreviation}}
            </p>
        </div>
    </div>
    <div class="row" *ngIf="!!researchment?.locatedIn">
        <div class="col-12">
            <p><strong>{{ "researchmentStructure.locatedIn" | translate }}:</strong> {{researchment?.locatedIn}}
            </p>
        </div>
    </div>
    <div class="row" *ngIf="!!researchment?.hasContactInfo">
        <div class="col-12">
            <p><strong>{{ "researchmentStructure.hasContactInfo" | translate }}:</strong>
                {{researchment?.hasContactInfo}}
            </p>
        </div>
    </div>
    <div class="row" *ngIf="!!researchment?.description">
        <div class="col-12">
            <p><strong>{{ "researchmentStructure.description" | translate }}:</strong> {{researchment?.description}}
            </p>
        </div>
    </div>
    <div class="row" *ngIf="!!researchment?.dateStart">
        <div class="col-12">
            <p><strong>{{ "researchmentStructure.dateStart" | translate }}:</strong> {{researchment?.dateStart}}
            </p>
        </div>
    </div>
    <div class="row" *ngIf="!!researchment?.dateEnd">
        <div class="col-12">
            <p><strong>{{ "researchmentStructure.dateEnd" | translate }}:</strong> {{researchment?.dateEnd}}
            </p>
        </div>
    </div>
    <div class="row" *ngIf="!!researchment?.dateEnd">
        <div class="col-12">
            <p><strong>{{ "researchmentStructure.dateEnd" | translate }}:</strong> {{researchment?.dateEnd}}
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <div class="card-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" [ngClass]="{'active': activeTab === 'scientist' }" id="scientist-tab"
                            (click)="changeTab('scientist')" data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
                            aria-controls="scientist"
                            [attr.aria-selected]="activeTab === 'scientist'">{{'researchmentStructure.scientist' |
                            translate}}</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" [ngClass]="{'active': activeTab === 'patents' }" id="patents-tab"
                            (click)="changeTab('patents')" data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
                            aria-controls="patents"
                            [attr.aria-selected]="activeTab === 'patents'">{{'researchmentStructure.patents' |
                            translate}}</a>
                    </li>
                </ul>
            </div>
            <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade"
                        [ngClass]="{'show': activeTab === 'scientist', 'active': activeTab === 'scientist' }"
                        id="scientist" role="tabpanel" aria-labelledby="scientist-tab">
                        <app-scientist-search [url]="'../../../scientist'" [idPrefix]="'scientist'">
                        </app-scientist-search>
                    </div>

                    <div class="tab-pane fade" id="patents"
                        [ngClass]="{'show': activeTab === 'patents', 'active': activeTab === 'patents' }"
                        role="tabpanel" aria-labelledby="patents-tab">
                        <app-patents [isChatHiden]="true" [organizationId]="id" [url]="'../../../patent'"
                            [idPrefix]="'patents'">
                        </app-patents>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>