body {
  font-size: 15px;
}
table.table tr .actions a {
  visibility: hidden;
  margin: 0 1px;
}

table.table tbody tr:hover a.btn,
table.table tbody tr:hover button.btn {
  visibility: visible;
}

table thead .sortable:hover {
  cursor: pointer;
  background-color: #eee;
}

table tbody {
  font-size: 14px;
}

.actions {
  margin-top: 20px;
}

.table-users .actions {
  width: 10em;
}

.sidebar-toggle {
  position: fixed;
  background: #313941;
  padding: 10px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  cursor: pointer;
  color: white;
}

.btn-outline-primary {
  color: white;
  background-color: black;
  border-color: white;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: white;
  background-color: #999;
  border-color: black;
}
.page-item.active .page-link {
  color: #fff;
  background-color: black;
  border-color: black;
}

.legend {
  display: block;
  width: 100%;
  font-size: 1.2375rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #495057;
  border-bottom: 1px solid #e5e5e5;
}
.sector-chart {
  width: 95%;
  margin: auto;
}

/** helpers */
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}

.nav-item a {
  color: #646564;
}
.logos {
  margin: auto;
  margin-left: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSideBar {
  height: 70px;
  padding: 0.625rem 1.625rem;
  position: absolute;
  top: 90vh;
}
.logo {
  margin-top: 5px;
  max-height: 40px;
}

.logo2 {
  max-height: 50px;
  margin-left: 8px;
  margin-top: 12px;
}

.logoText {
  width: 100%;
  text-align: center;
  font-size: smaller;
  margin-left: 10px;
}

.logoText p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.table td,
.table th {
  padding: 0.5rem;
  /* font-size: smaller; */
}

@media screen and (max-width: 800px) {
  .logos {
    width: 76%;
  }
}

.red {
  color: brown;
}

.cursor {
  cursor: pointer;
}

.tree {
  margin-bottom: 20px;
}

.ngbdatepicker:disabled,
.ngbdatepicker[readonly],
.ngbDatepicker:disabled,
.ngbDatepicker[readonly] {
  background-color: white !important;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loader {
  color: #6d6969;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.link-lang,
.link-lang img {
  max-width: 20px;
  flex: 1 1 auto;
}

.lang-container {
  width: 60px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.ml-15 {
  margin-left: 15px;
}

.home-enabled em,
.home-disabled em {
  margin: auto;
  cursor: pointer;
}

.link {
  color: inherit !important;
}

.footer {
  position: relative;
  width: 100%;
  min-height: 170px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.logoFooter {
  width: 180px;
  margin-top: 50px;
  margin-left: 20px;
}

.topf {
  padding-top: 30px;
}
