<fieldset>
    <h1 class="legend">{{scientist?.firstName}} {{scientist?.surname}}</h1>
    <div class="mt-20">
        <div class="row">
            <div class="col-12">
                <p>{{scientist?.description}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p> {{scientist?.researchLine}} </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <div class="card-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [ngClass]="{'active': activeTab === 'acction-inves' }"
                                id="acction-inves-tab" (click)="changeTab('acction-inves')" data-bs-toggle="tab"
                                href="JavaScript:void(0)" role="tab" aria-controls="acction-inves"
                                [attr.aria-selected]="activeTab === 'acction-inves'">
                                {{'scientist.acction-inves' | translate}}</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [ngClass]="{'active': activeTab === 'prod-scientist' }"
                                id="prod-scientist-tab" (click)="changeTab('prod-scientist')" data-bs-toggle="tab"
                                href="JavaScript:void(0)" role="tab" aria-controls="prod-scientist"
                                [attr.aria-selected]="activeTab === 'prod-scientist'">{{'researchmentStructure.prod-scientist'
                                |
                                translate}}</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [ngClass]="{'active': activeTab === 'academic-publications' }"
                                id="academic-publications-tab" (click)="changeTab('academic-publications')"
                                data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
                                aria-controls="academic-publications"
                                [attr.aria-selected]="activeTab === 'academic-publications'">{{'scientific-production.academic-publications'
                                | translate}}</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [ngClass]="{'active': activeTab === 'projects' }" id="projects-atb"
                                (click)="changeTab('projects')" data-bs-toggle="tab" href="JavaScript:void(0)"
                                role="tab" aria-controls="projects"
                                [attr.aria-selected]="activeTab === 'projects'">{{'researchmentStructure.projects'
                                |
                                translate}}</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [ngClass]="{'active': activeTab === 'congress-events' }"
                                id="congress-events-tab" (click)="changeTab('congress-events')" data-bs-toggle="tab"
                                href="JavaScript:void(0)" role="tab" aria-controls="congress-events"
                                [attr.aria-selected]="activeTab === 'congress-events'">{{'scientist.events' |
                                translate}}</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [ngClass]="{'active': activeTab === 'business-activity' }"
                                id="business-activity-atb" (click)="changeTab('business-activity')" data-bs-toggle="tab"
                                href="JavaScript:void(0)" role="tab" aria-controls="business-activity"
                                [attr.aria-selected]="activeTab === 'business-activity'">{{'scientist.business-activity'
                                |
                                translate}}</a>
                        </li>

                    </ul>
                </div>
                <div id="datatables-dashboard-markets_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-12">

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade"
                                    [ngClass]="{'show': activeTab === 'acction-inves', 'active': activeTab === 'acction-inves' }"
                                    id="acction-inves" role="tabpanel" aria-labelledby="acction-inves-tab">


                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card flex-fill">
                                                <div class="card-header">
                                                    <h1 class="legend">{{'scientist.directed-jobs' | translate}}</h1>
                                                </div>
                                                <div id="datatables-dashboard-markets_wrapper"
                                                    class="dataTables_wrapper dt-bootstrap4 no-footer p-3">
                                                    <app-directed-jobs [scientificId]="scientificId" [idPrefix]="'uno'">
                                                    </app-directed-jobs>
                                                </div>
                                            </div>
                                            <div class="card flex-fill">
                                                <div class="card-header">
                                                    <h1 class="legend">{{'scientist.reg-documents' | translate}}</h1>
                                                </div>
                                                <div id="datatables-dashboard-markets_wrapper"
                                                    class="dataTables_wrapper dt-bootstrap4 no-footer p-3">
                                                    <app-patents [isChatHiden]="true" [authorId]="scientificId"
                                                        [url]="'../../patent'" [idPrefix]="'prodScientistdos'">
                                                    </app-patents>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade"
                                    [ngClass]="{'show': activeTab === 'prod-scientist', 'active': activeTab === 'prod-scientist' }"
                                    id="prod-scientist" role="tabpanel" aria-labelledby="prod-scientist-tab">
                                    <app-documents [showOnlyYEar]="true" [idPrefix]="'document'"
                                        [url]="'../../document'" [routerFieldSecondary]="'type'"
                                        [selectDocumentType]="[{ name: 'book', value: 'Book' }, { name: 'articles', value: 'Article' }]"
                                        [isTreeVisible]="false" [authorId]="scientificId"
                                        [filterDocumentType]="['Article', 'Book']">
                                    </app-documents>
                                </div>
                                <div class="tab-pane fade"
                                    [ngClass]="{'show': activeTab === 'academic-publications', 'active': activeTab === 'academic-publications' }"
                                    id="academic-publications" role="tabpanel"
                                    aria-labelledby="academic-publications-tab">
                                    <app-documents [idPrefix]="'academic'" [url]="'../../document'"
                                        [selectDocumentType]="[{ name: 'master-thesis', value: 'Master-Thesis' }, { name: 'doctoral-thesis', value: 'Doctoral-Thesis' }]"
                                        [isTreeVisible]="false" [authorId]="scientificId"
                                        [routerFieldSecondary]="'type'"
                                        [filterDocumentType]="['Master-Thesis', 'Doctoral-Thesis']">
                                    </app-documents>
                                </div>
                                <div class="tab-pane fade" id="projects"
                                    [ngClass]="{'show': activeTab === 'projects', 'active': activeTab === 'projects' }"
                                    role="tabpanel" aria-labelledby="projects-tab">
                                    <app-proyects [authorId]="scientificId" [url]="'../../project'"
                                        [idPrefix]="'projects'" [chartType]="'bar'">
                                    </app-proyects>
                                </div>
                                <div class="tab-pane fade"
                                    [ngClass]="{'show': activeTab === 'congress-events', 'active': activeTab === 'congress-events' }"
                                    id="congress-events" role="tabpanel" aria-labelledby="congress-events-tab">
                                    <div class="card flex-fill">
                                        <div class="card-header">
                                            <h1 class="legend">{{'scientist.congress-events' | translate}}</h1>
                                        </div>
                                        <div id="datatables-dashboard-markets_wrapper"
                                            class="dataTables_wrapper dt-bootstrap4 no-footer p-3">
                                            <app-events [participantId]="scientificId" [url]="'../../event/'"
                                                [idPrefix]="'events'"></app-events>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="business-activity"
                                    [ngClass]="{'show': activeTab === 'business-activity', 'active': activeTab === 'business-activity' }"
                                    role="tabpanel" aria-labelledby="business-activity-tab">
                                    <div class="card flex-fill">
                                        <div class="card-header">
                                            <h1 class="legend">{{'scientist.startups' | translate}}</h1>
                                        </div>
                                        <div id="datatables-dashboard-markets_wrapper"
                                            class="dataTables_wrapper dt-bootstrap4 no-footer p-3">
                                            <app-startup></app-startup>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</fieldset>