<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm" (keydown.enter)="$event.preventDefault()">
    <div class="row mt-20">
        <!-- rol -->
        <!-- <div class="form-group col-lg-6">
            <label for="rol" class="control-label">{{ "events.rol" | translate }}</label>
            <div>
                <select name="rol" class="form-control" [(ngModel)]="findRequest.filter.rol" #rol="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option [value]="'Organizador'">Organizador</option>
                    <option [value]="'Expositor'">Expositor</option>
                </select>
            </div>
        </div>-->
        <!-- rol -->
        <div class="form-group col-lg-6">
            <label for="type" class="control-label">{{ "events.type" | translate }}</label>
            <div>
                <select name="type" class="form-control" (change)="filterEvents()" [(ngModel)]="findRequest.filter.type"
                    #type="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option [value]="'Conference'">{{'events.conference' | translate }}</option>
                    <option [value]="'Exhibit'">{{'events.exhibit' | translate }}</option>
                </select>
            </div>
        </div>
        <!-- dates -->
        <div class="form-group col-lg-6">
            <label for="dateFrom{{idPrefix}}" class="control-label">{{'events.date' | translate }}</label>
            <input class="form-control ngbDatepicker" name="dateFrom{{idPrefix}}" id="dateFrom{{idPrefix}}" required
                (ngModelChange)="filterEvents()" placeholder="{{'form.datepicker-placeholder' | translate}}"
                ngbDatepicker [readonly]="true" #decisionDate="ngbDatepicker" (click)="decisionDate.toggle();"
                (keyup)="decisionDate.close()"
                (keydown)="($event.key === 'Escape' || $event.key === 'Tab') ? decisionDate.close() : decisionDate.toggle();"
                #dateFrom{{idPrefix}}="ngModel" [(ngModel)]="dateIni" />
        </div>


    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="input-group col-md-1">
                <button [attr.aria-label]="'form.clean' | translate " role="button" aria-pressed="false"
                    class="btn btn-secondary"
                    (click)="f.resetForm(); filterEvents(); dateFin = null; dateIni = null">{{'form.clean' |
                    translate }}</button>
            </div>
            <div class="input-group col-md-4" role="search">
                <input class="form-control py-2 border-right-0 border" type="search" name="search" #search="ngModel"
                    placeholder="{{'form.search-by-title' | translate }}" [(ngModel)]="findRequest.filter.name"
                    id="search-events" (keyup.enter)="filterEvents()">
                <span class="input-group-append">
                    <button [attr.aria-label]="'form.search-by-name' | translate" role="button" aria-pressed="false"
                        (click)="filterEvents()" class="btn btn-outline-secondary border-left-0 border" type="button">
                        <em class="oi oi-magnifying-glass "></em>
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>
<div class="loader" *ngIf="!loaded"></div>
<app-table-results-dto *ngIf="loaded" [data]="allEvents.content" [pageInfo]="allEvents" [dtoTypeTranslate]="'events'"
    [extra]="'2'" [routerField]="'id'" [routerNameLink]="url" [routerField]="'id'" [routerFieldSecondary]="'type'"
    (pageChanged)="allEventsFilteredPageChanged($event)" (sizeChanged)="allEventsFilteredSizeChanged($event)"
    (sortChanged)="allEventsFilteredSortChanged($event)">
</app-table-results-dto>