<div *ngIf="dataIsReady; else notLoadedState">
    <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <div class="card-header">
                    <!--{{ discovery.state-tittle | translate }}-->
                    <legend class="legend">{{'service-discovery.title' | translate}}</legend>

                </div>

                <div class="card-body">
                    <div *ngIf="responseData.length>0" class="row">
                        <div class="col-1" style="font-size: small;">{{'service-discovery.nodes' | translate}}:</div>
                        <div class="col-11">
                            <ngb-accordion [closeOthers]="false">
                                <ngb-panel *ngFor="let node of responseData" id="node-{{node.id}}">
                                    <ng-template ngbPanelTitle>
                                        <div class="d-flex justify-content-between">
                                            <div style="font-weight: bold; color: #1c2128;">
                                                <em _ngcontent-lch-c110="" [ngClass]="getClassNodeIcon(node)"
                                                    style="width: 50px; height: 50px;"
                                                    [ngStyle]="{'color':node.isDesactivated === true ? 'red' : 'green' }">
                                                </em>
                                                {{node.name}}: ({{node.services.length}}
                                                {{'service-discovery.services' | translate}})
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="row">
                                            <div class="col-3"> {{'service-discovery.status' |
                                                translate}}):{{node.name===currentNode}}</div>
                                            <div class="col-9">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="{{node.name}}-activate" id="{{node.name}}-activate"
                                                        value="activate" [checked]="!node.isDesactivated"
                                                        (change)="onNodeStateChange(node,true)"
                                                        [disabled]="node.name===currentNode">
                                                    <label class="form-check-label"
                                                        for="{{node.name}}-activate">{{'service-discovery.activate' |
                                                        translate}}</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="{{node.name}}-desactivate" id="{{node.name}}-desactivate"
                                                        value="desactivate" [checked]="node.isDesactivated"
                                                        (change)="onNodeStateChange(node,false)"
                                                        [disabled]="node.name===currentNode">
                                                    <label class="form-check-label"
                                                        for="{{node.name}}-desactivate">{{'service-discovery.disabled' |
                                                        translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div *ngIf="node.services.length>0" class="row">
                                            <div class="col-1" style="font-size: small;">{{'service-discovery.services'
                                                | translate}}:</div>
                                            <div class="col-11">
                                                <ngb-accordion [closeOthers]="false">
                                                    <ngb-panel *ngFor="let service of node.services"
                                                        id="service-{{service.id}}" style="margin-left: 50px;">
                                                        <ng-template ngbPanelTitle>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="d-flex"
                                                                    style="font-weight: bold; color: #1c2128;">
                                                                    {{service.name}}: ({{service.types.length}}
                                                                    {{'service-discovery.endpoints' |
                                                                    translate}})
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                        <ng-template ngbPanelContent>

                                                            <table class="table table-bordered">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>{{'service-discovery.id' | translate}}</td>
                                                                        <td><strong>{{ service.id }}</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>{{'service-discovery.name' | translate}}
                                                                        </td>
                                                                        <td><strong>{{ service.name }}</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>{{'service-discovery.base-url' | translate}}
                                                                        </td>
                                                                        <td><strong>{{ service.baseURL }}</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>{{'service-discovery.port' | translate}}
                                                                        </td>
                                                                        <td><strong>{{ service.port }}</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>{{'service-discovery.healthEndpoint' |
                                                                            translate}}
                                                                        </td>
                                                                        <td><strong>{{ service.healthEndpoint
                                                                                }}</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>{{'service-discovery.status' | translate}}
                                                                        </td>
                                                                        <td>
                                                                            <span *ngIf="service.status === 'UP'"
                                                                                class="badge badge-success">{{service.status}}</span>
                                                                            <span *ngIf="service.status === 'UNKNOWN'"
                                                                                class="badge badge-warning">{{service.status}}</span>
                                                                            <span
                                                                                *ngIf="service.status !== 'UNKNOWN' && service.status !== 'UP'"
                                                                                class="badge badge-danger">{{service.status}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <div *ngIf="service.types.length>0" class="row">
                                                                <div class="col-1" style="font-size:small;">
                                                                    {{'service-discovery.endpoints' |
                                                                    translate}}:</div>
                                                                <div class="col-11">
                                                                    <ngb-accordion [closeOthers]="false">
                                                                        <ngb-panel *ngFor="let type of service.types"
                                                                            id="type-{{type.id}}" title="{{type.name}}"
                                                                            style="margin-left: 50px;">
                                                                            <ng-template ngbPanelContent>
                                                                                <table class="table table-bordered">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>{{'service-discovery.id'
                                                                                                |
                                                                                                translate}}
                                                                                            </td>
                                                                                            <td><strong>{{ type.id
                                                                                                    }}</strong>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>{{'service-discovery.name'
                                                                                                |
                                                                                                translate}}
                                                                                            </td>
                                                                                            <td><strong>{{ type.name
                                                                                                    }}</strong>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>{{'service-discovery.suffix-url'
                                                                                                |
                                                                                                translate}}</td>
                                                                                            <td><strong>{{
                                                                                                    type.suffixURL
                                                                                                    }}</strong>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </ng-template>
                                                                        </ngb-panel>
                                                                    </ngb-accordion>
                                                                </div>
                                                            </div>

                                                        </ng-template>
                                                    </ngb-panel>
                                                </ngb-accordion>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng-template #notLoadedState>
    {{'service-discovery.noData' | translate}}
</ng-template>